* {
  text-align: center;
}

a {
  color: black;
}

input {
  width: 100%;
}

td, th {
  text-align: center;
}

.container {
  margin-bottom: 40px;
}

.link-option {
  text-align: center;
}

.search-result {
  border: 1px solid black;
}

#below-welcome {
  margin: 0 auto;
  text-align: center;
}

#footer {
  padding: 10px;
  border-top: 2px solid black;
  margin-top: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
}

/*#logo {
  float: left;
}*/

#modal {
  position: fixed;
  top: 100px;
  right: 100px;
  bottom: 100px;
  left: 100px;
  z-index: 1;
  border: 10px solid black;
  background: white;
  overflow-y: scroll;
}

#modal table {
  color: black;
  margin: 0 auto;
  max-width: 70%;
}

#modal-x {
  color: black;
  font-weight: bolder;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

#navbar {
  padding: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

#book-table {
  overflow-y: scroll;
  height: 70%;
}

#welcome {
  text-align: center;
}
