* {
  text-align: center;
  font-family: Garamond;
}

a {
  color: black;
}

footer {
  background: black;
  padding: 10px;
  margin-top: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
}

header {
  background: black;
  color: white;
  font-size: 1em;
  height: 60px;
  margin-bottom: 30px;
}

header a {
  color: white;
  text-decoration: none;
}

input {
  width: 100%;
}

td, th {
  text-align: center;
}

.container {
  margin-bottom: 40px;
}

.cormorant {
  font-family: 'Cormorant Unicase';
}

.intro-column {
  padding-top: 50px;
  padding-bottom: 50px;
}

.link-option {
  text-align: center;
}

.tr-completed {
  background-color: green;
}

.tr-in-progress {
  background-color: yellow;
}

.tr-pending {
  background-color: orange;
}

.search-result {
  border: 1px solid black;
}

.selected-shelf, .selected-shelf:hover, .selected-shelf:focus {
  background: black;
  color: white;
}

.header-item {
  padding: 15px;
}

#banner {
  width: 100%;
  /*height: 400px;*/
  margin-top: -30px;
}

#book-table {
  overflow-y: scroll;
  height: 70%;
}

#logo {
  padding: 15px;
  font-size: 1.5em;
}

#modal {
  position: fixed;
  top: 100px;
  right: 100px;
  bottom: 100px;
  left: 100px;
  z-index: 1;
  border: 10px solid black;
  background: white;
  overflow-y: scroll;
}

#modal table {
  color: black;
  margin: 0 auto;
  max-width: 70%;
}

#modal-x {
  color: black;
  font-weight: bolder;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}
